<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- services -->
	<bean id="userService" class="br.eng.mosaic.pigeon.server.service.UserService">
		<property name="userRepository" ref="userRepository" />
	</bean>
		
	<!-- repositories -->
	<bean id="userRepository" class="br.eng.mosaic.pigeon.server.repository.mem.UserRepositoryMemory"/>
	
	<!-- others -->
	<bean id="facebookClient" class="br.eng.mosaic.pigeon.server.socialnetwork.FacebookClient">
		<property name="resolver" >
			<bean class="br.eng.mosaic.pigeon.server.socialnetwork.FacebookResolver" />
		</property>
	</bean>
	
	<context:component-scan base-package="br.eng.mosaic.pigeon.server.controller"/>
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
	
</beans>